<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 class="text-3xl font-bold text-center mt-10">Hello World</h1>
    <p class="text-center text-gray-600 mt-4">This is a simple EJS template.</p>
    <div class="flex justify-center mt-6">
      <a
        href="/auth"
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors"
        >Go to Auth Page</a
      >
    </div>
  </body>
</html>
